<launch>

  <!--Capteur d'obstacles-->
  <include file="$(find robot)/launch/lidar.launch"/> <!--Configuration et lancement du Lidar-->
  <include file="$(find robot)/launch/ultrasonic.launch"/> <!--Configuration et lancement des capteurs ultrason-->

  <!--Capteur odometrique-->
  <node pkg="odom_node_pkg" type="odom_node_type" name="odom_node" output="screen">
    <param name="odom_param" value="param_value" />
  </node>

  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
  </node>

</launch>